body {
  background-color: #fff;
  color: #333;
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

header {
  color: white;
  background-color: black;
  padding: 10px;
}

header a {
  color: white;
  font: arial;
  margin: 7px;
  font-weight: bolder;
  text-transform: uppercase;
}

.pagination {
  color: red;
  font: "Futura";
  text-align: center;
  font-size: 15px;
}

h1 {
  text-align: center;
  font-family: "Futura", sans-serif;
  letter-spacing: 5px;
  font-weight: lighter;
}

p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

form.button_to {
  float: left;
}

tr {
  margin: 10px;
  display: inline;
}

td.products {
  text-align: center;
}

td.products a {
  font-weight: bold;
}

img.product {
  float: left;
}

#reviews {
  height: 200px;
  padding: 10px;
  margin: 10px;
  border: 3px solid black;
  overflow-y: scroll;
}

hr {
    border: none;
    height: 2px;
    color: #EE0000;
    background-color: #EE0000;
}

tbody {
  align-content: center;
  align-items: center;
}

tr {
  align-items: center;
  align-content: center;
}
