@import "foundation_and_overrides";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "*";

@font-face {
  font-family: "King Basil Lite";
  src: url(public/King-Basil-Lite.otf) format("truetype");
}

@font-face {
  font-family: "Lemon Tuesday";
  src: url(public/Lemon-Tuesday.otf) format("truetype");
}
