#engadget-footer-social-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: rem-calc(0);
  background: $black;

  #engadget-footer-social {
    @include grid-row();
	  color: $white;
    background: $black;
	  padding: rem-calc(60) 0;
	  a {
  	  color:$white !important;
  	  }
    h6 {
      color: $white;
      background: $black;
      padding-bottom: 8px;
      margin-bottom: 0px;
      font-family: "Lemon Tuesday";
      font-size: 28px;
      font-weight: bold;
    }
    .footer-left {
      color: $white;
      background: $black;
		  @include breakpoint(small) {
		  	@include grid-column(12);
		  }
      @include breakpoint(medium) {
        @include grid-column(6);
		  }
		  @include breakpoint(large) {
        @include grid-column(5);
		  }
      .input-group-field {
  	  	background: $white
      }
      .input-group-button {
        background: $black;
      }
      .input-group-button i {
        padding-left: 2px;
        font-size: 37px;
        font-weight: bold;
      }
      form {
        background: $black;
      }
    }

  	.footer-right {
      background: $black;
    	text-align: right;
      color: $white;
      @include breakpoint(small) {
        @include grid-column(12);
      }
      @include breakpoint(medium) {
        @include grid-column(6);
      }
    }
    .fa {
      color: #DE87B1;
      padding: 0 0 0 0.6rem;
      background: $black;
      }
    h2 {
      color: $white;
      }
    p {
      font-size: 0.8rem;
      margin-bottom: 0;
    }
  }
}

#engadget-footer-contact-details-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: rem-calc(0);

  #engadget-footer-contact-details {
    @include grid-row();
	  color: $black;
	  padding: rem-calc(20) 0;
	  a {
  	  color: $black;
  	  }

	  .footer-left {
		@include breakpoint(small) {
		@include grid-column(12);
		li {
  		display: block;
  		}
		text-align: center;
		}
		@include breakpoint(medium) {
		@include grid-column(6);
		text-align: left;
		}
		 @include breakpoint(large) {
		 @include grid-column(8);
		 ul {
  		 margin-bottom: 0;
  		 }
		li {
  		display: inline-block
  		}
		}
		font-size: 0.9rem;
		.fa {
  		padding: 0 0.4rem;
  		}
	}
	.footer-right {
		@include breakpoint(small) {
		@include hide-for-only(small);
		}
		@include breakpoint(medium) {
		@include grid-column(6);
		}
		 @include breakpoint(large) {
		 @include grid-column(4);
		 text-align: right;
		 ul {padding-top: 1.6rem;}
		}
		font-size: 0.9rem;
		.fa {padding: 0 0.4rem;}
    }
  }
}

.logo a {
  font-size: 40px;
  text-align: center;
  font-family: "Lemon Tuesday";
  font-weight: bolder;
  &:hover {
    font-size: 40px;
    color: #DE87B1 !important;
  }
}

 .fa-copyright {
   font-size: 20px;
 }
