* {
  background-color: #fff;
  color: #333;
  font-family: "Source Serif Pro", "Helvetica", sans-serif;
  line-height: 18px;
  font-size: 12px;
}

header {
  color: white;
  background-color: black;
  padding: 10px;
}

header a {
  color: white;
  font: arial;
  margin: 7px;
  font-weight: bolder;
  text-transform: uppercase;
}

.app {
  height: 80%;
  overflow-x: scroll;
}

h1 {
  text-align: center;
  font-family: "Lemon Tuesday";
  color: #DE87B1;
}

h2 {
 font-size: 20px;
 font-weight: bolder;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

h4, label {
  font-size: 14px;
  font-weight: bold;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
