div.top-bar, div.top-bar a, li.nav.is-dropdown-submenu-parent {
  background: black;
  color: white;
  font-weight: bold;
  &:hover {
    color: #DE87B1;
  }
}

.top-bar-right {
  display: inline-block;
}

.root-link a {
  font-size: 20px;
  font-family: "Lemon Tuesday", Helvetica, Arial;
}

ul.menu, ul.dropdown.menu {
  background: black;
}

// Navigation search bar styling
li.search-nav {
  background: black;
}

.admin-features {
  padding-left: 15px;
}

form#search-form {
  display: inline-flex;
  background: black;
  #search {
    margin-right: 3px;
  }
}

.search-button {
  .fa-search {
    font-size: 20px;
    color: white;
    background-color: black;
  }
}

// Pagination styling

.pagination a, .pagination span {
  display: inline-block;
  text-align: center;
}

nav.pagination {
  text-align: center;
}
