div.top-bar, div.top-bar a, li.nav.is-dropdown-submenu-parent {
  background: $black;
  color: $white;
  font-weight: bold;
  padding: 10px;
  &:hover {
    color: #DE87B1;
  }
}

.top-bar-right {
  display: inline-block;
}

.root-link a {
  font-size: 20px;
  font-family: "Lemon Tuesday", Helvetica, Arial;
}

ul.menu, ul.dropdown.menu {
  background: $black;
}

.fa-chevron-circle-right {
  color: white;
  background: black;
  padding-left: 3px;
}
