.top-bar-right {
  display: inline-block;
}

div.top-bar, div.top-bar a, li.nav.is-dropdown-submenu-parent {
  background: black;
  color: white;
  font-weight: bold;
}

form#search-form {
  display: inline-flex;
  background: black;
  border: 1px solid black;
}

.pagination a, .pagination span {
  display: inline-block;
  text-align: center;
}

nav.pagination {
  text-align: center;
}
