td.product.image {
  width: 40%;
}

td.product.description {
  text-align: left;
}

td.products a {
  color: #DE87B1;
}

.product-name {
  font-family: "Lemon Tuesday", Helvetica, Arial;
  font-size: 28px;
}

.dv-star-rating-full-star i {
  color: #DE87B1;
}
