td.product.image {
  width: 40%;
}

td.product.description {
  text-align: left;
}

// Category sub navigation on product index page
.category a {
  color: black;
  font-size: 20px;
  font-family: "Helvetica";
  text-transform: uppercase;

  &:visited {
    color: black;
  }

  &:hover {
    color: #DE87B1;
    background: white;
    font-weight: bolder;
  }
}

.product-name {
  font-family: "Lemon Tuesday", Helvetica, Arial;
  font-size: 28px;
}

.dv-star-rating-full-star i {
  color: #DE87B1;
}
