// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#reviews {
  max-height: 425px;
  padding: 15px;
  border: 1px solid #CCCCCC;
  overflow-y: scroll;
  margin-bottom: 15px;
}

h2.reviews {
  font-family: "Lemon Tuesday", Helvetica, Arial;
  font-size: 32px;
}

label.new-review {
  font-family: "Lemon Tuesday", Helvetica, Arial;
  font-size: 32px;
}

label.new-rating {
  font-family: "Lemon Tuesday", Helvetica, Arial;
  font-size: 20px;
}

img.review-profile-photo {
  max-width: 100px;
  height: 50px;
  float: left;
  margin-right: 5px;
}

hr {
    border: none;
    height: 1px;
    color: #CCCCCC;
    background-color: #CCCCCC;
}

tbody {
  align-content: center;
  align-items: center;
  text-align: center;
  border: 0px;
}

tr {
  display: inline;
  align-items: center;
  align-content: center;
}

tbody tr:nth-child(even) {
  background-color: inherit;
}
