<li class="nav">Admin <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
  <ul class="menu vertical">
    <li><%= link_to "Add New Category", new_category_path %></li>
    <li><%= link_to "Add New Product", new_product_path %></li>
    <li><%= link_to "View All Users", admin_users_path %></li>
  </ul>
</li>
