<div class="top-bar-right">
  <ul class="menu">
    <li class="search-nav">
      <%= form_tag(products_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
      <button class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
      <% end %>
    </li>
  </ul>
</div>
